﻿@model Tuple<List<tmo.Models.kullanicilar>, List<tmo.Models.subeler>, List<tmo.Models.alt_menuler>>
@{
    ViewBag.Title = "KullaniciEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-md-12">
    @{
        if (TempData["approval"] != null)
        {
            <div class="alert alert-success alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-tick-inside-circle"></i><strong>Başarılı!</strong> @TempData["approval"]
            </div>
        }
        else if (TempData["rejection"] != null)
        {
            <div class="alert alert-danger alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-alert-1"></i><strong>Hata!</strong> @TempData["rejection"]
            </div>
        }
    }
</div>
<div class="col-xl-12 col-md-12">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>KULLANICI EKLE</h6>
        </div>
        <div class="ms-panel-body">
            @using (Html.BeginForm("KullaniciEkle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
            {
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom01">Ad Soyad</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationCustom01" name="ad_soyad" placeholder="Ad Soyad" required="">
                            <div class="valid-feedback">
                                Lütfen Ad Soyad Giriniz.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom02">Rol</label>
                        <div class="input-group">
                            <select class="form-control" id="validationCustom02" name="rol" required="">
                                <option value="">Seçim Yapınız</option>
                                <option value="Kullanıcı">Kullanıcı</option>
                                <option value="Admin">Admin</option>
                            </select>
                            <div class="invalid-feedback">
                                Lütfen Rol Seçiniz.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="validationCustom03">Şube</label>
                        <div class="input-group">
                            <select class="form-control" id="validationCustom03" name="sube_id" required="">
                                <option value="">Seçim Yapınız</option>
                                @foreach (var item in Model.Item2)
                                {
                                    <option value="@item.sube_id">@item.sube_adi</option>
                                }
                            </select>
                            <div class="invalid-feedback">
                                Lütfen Şube Seçiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="validationCustom04">Kullanıcı Adı</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="validationCustom04" name="kullanici_adi" placeholder="Kullanıcı Adı" required="">
                            <div class="invalid-feedback">
                                Lütfen Kullanıcı Adı Giriniz.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-2">
                        <label for="validationCustom05">Parola</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="validationCustom05" name="parola" placeholder="Parola" required="">
                            <div class="invalid-feedback">
                                Lütfen Parola Belirleyiniz.
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary mt-4 d-block w-100" type="submit">Kullanıcıyı Oluştur.</button>
            }
        </div>
    </div>
</div>
<div class="col-xl-12 col-md-12">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>KULLANICI LİSTESİ</h6>
        </div>
        <div class="ms-panel-body">
            <div class="table-responsive">
                <div id="data-table-1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row" style="width:100%">
                        <div class="col-sm-12">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Ad Soyad</th>
                                        <th>Şube</th>
                                        <th>Rol</th>
                                        <th>Kullanıcı Adı</th>
                                        <th>Parola</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>İşlem</th>
                                        <th>İzinler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Item1)
                                    {
                                        <tr>
                                            <td>@item.ad_soyad</td>
                                            <td>@item.subeler.sube_adi</td>
                                            <td>@item.rol</td>
                                            <td>@item.kullanici_adi</td>
                                            <td>@item.parola</td>
                                            <td>@item.kayit_zamani</td>
                                            <td>
                                                <a href="#" class="badge badge-outline-warning" data-toggle="modal" data-target="#duzenle@(item.kullanici_id)" style="color:#FDA600;font-size:14px"><i class="flaticon-pencil"></i> Düzenle</a>
                                            </td>
                                            <td>
                                                <a href="#" class="badge badge-outline-primary" data-toggle="modal" data-target="#izinduzenle@(item.kullanici_id)" style="color:#1639a9;font-size:14px"><i class="flaticon-pencil"></i> Düzenle</a>
                                            </td>
                                        </tr>
                                        <!-- KullaniciGuncelle Modal -->
                                        <div class="modal fade" id="duzenle@(item.kullanici_id)" tabindex="-1" role="dialog" aria-labelledby="duzenle@(item.kullanici_id)">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">

                                                    <div class="modal-header bg-secondary">
                                                        <h5 class="modal-title has-icon text-white" id="NoteModal">@item.ad_soyad - Düzenle</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    @using (Html.BeginForm("KullaniciGuncelle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                                                    {
                                                        <div class="modal-body">
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom18">Ad Soyad</label>
                                                                <input type="text" class="form-control" id="validationCustom18" name="ad_soyad" value="@item.ad_soyad" required="">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz3.
                                                                </div>
                                                            </div>

                                                            <div class="ms-form-group">
                                                                <label for="validationCustom19">Şube</label>
                                                                <select class="form-control" id="validationCustom19" name="sube_id" required="">
                                                                    <option value="@item.sube_id">@item.subeler.sube_adi</option>
                                                                    @foreach (var il in Model.Item2)
                                                                    {
                                                                        <option value="@il.sube_id">@il.sube_adi</option>
                                                                    }
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom020">Rol</label>
                                                                <select class="form-control" id="validationCustom020" name="rol" required="">
                                                                    <option value="@item.rol">@item.rol</option>
                                                                    <option value="Kullanıcı">Kullanıcı</option>
                                                                    <option value="Admin">Admin</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Rol Seçiniz.
                                                                </div>
                                                            </div>

                                                            <div class="ms-form-group">
                                                                <label for="validationCustom21">Kullanıcı Adı</label>
                                                                <input type="text" class="form-control" id="validationCustom21" name="kullanici_adi" value="@item.kullanici_adi">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom22">Parola</label>
                                                                <input type="text" class="form-control" id="validationCustom22" name="parola" value="@item.parola">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <input hidden name="kullanici_id" value="@item.kullanici_id" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light" data-dismiss="modal">İptal</button>
                                                            <button type="submit" class="btn btn-secondary shadow-none">Güncelle</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>

                                        <!-- İzinGuncelle Modal -->
                                        <div class="modal fade" id="izinduzenle@(item.kullanici_id)" tabindex="-1" role="dialog" aria-labelledby="izinduzenle@(item.kullanici_id)">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">

                                                    <div class="modal-header bg-secondary">
                                                        <h5 class="modal-title has-icon text-white" id="NoteModal">@item.ad_soyad - Erişim izinlerini Düzenle</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    @using (Html.BeginForm("RolDuzenle", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                                                    {
                                                        <div class="modal-body">
                                                            <div class="accordion has-gap ms-accordion-chevron" id="accordionExample2">

                                                                <div class="card">
                                                                    <div class="card-header" data-toggle="collapse" data-target="#collapseFour" role="button" aria-expanded="true" aria-controls="collapseFour">
                                                                        <span> Kantar İşlemleri </span>
                                                                    </div>

                                                                    <div id="collapseFour" class="collapse show" data-parent="#accordionExample2" style="">
                                                                        <div class="card-body">
                                                                            <ul class="ms-list ms-list-display">
                                                                                <li>
                                                                                    <label class="ms-switch">
                                                                                        <input type="checkbox" name="MudiListesi" @(item.kullanici_alt_menu.Where(w => w.alt_menu_id == 1).Count() != 0 ? "checked" : "") value="True">
                                                                                        <span class="ms-switch-slider ms-switch-success round"></span>
                                                                                    </label>
                                                                                    <span> Mudi Listesi </span>
                                                                                </li>

                                                                                <li>
                                                                                    <label class="ms-switch">
                                                                                        <input type="checkbox" name="MudiKayit" @(item.kullanici_alt_menu.Where(w => w.alt_menu_id == 2).Count() != 0 ? "checked" : "") value="True">
                                                                                        <span class="ms-switch-slider ms-switch-success round"></span>
                                                                                    </label>
                                                                                    <span> Mudi Kayıt </span>
                                                                                </li>

                                                                                <li>
                                                                                    <label class="ms-switch">
                                                                                        <input type="checkbox" name="TartimYap" @(item.kullanici_alt_menu.Where(w => w.alt_menu_id == 4).Count() != 0 ? "checked" : "") value="True">
                                                                                        <span class="ms-switch-slider ms-switch-success round"></span>
                                                                                    </label>
                                                                                    <span> Tartım Yap </span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="card">
                                                                    <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">
                                                                        <span> Uygulama Yöneticisi </span>
                                                                    </div>

                                                                    <div id="collapseFive" class="collapse" data-parent="#accordionExample2" style="">
                                                                        <div class="card-body">

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <input hidden name="kullanici_id" value="@item.kullanici_id" />

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light" data-dismiss="modal">İptal</button>
                                                            <button type="submit" class="btn btn-secondary shadow-none">Güncelle</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
