﻿@model Tuple<List<tmo.Models.alt_menuler>>
<!-- Kantar Modülü -->
<li class="menu-item" style="visibility:@(Model.Item1.Where(w => w.ana_menu_adi == "Kantar").Count() == 0 ? "hidden" : "")">
    <a href="#" class="has-chevron" data-toggle="collapse" data-target="#basic-elements" aria-expanded="false" aria-controls="basic-elements">
        <span><i class="material-icons fs-16">filter_list</i>Kantar İşlemleri</span>
    </a>
    <ul id="basic-elements" class="collapse" aria-labelledby="basic-elements" data-parent="#side-nav-accordion">
        @foreach (var item in Model.Item1.Where(w => w.ana_menu_adi == "Kantar"))
        {
            <li> <a href="@Url.Action(item.alt_menu_adi, "Kantar")"> @item.alt_menu_basligi</a> </li>
        }
    </ul>
</li>
<!-- /Kantar Modülü -->

<!-- Yönetim Modülü -->
<li class="menu-item" style="visibility:@(Model.Item1.Where(w => w.ana_menu_adi == "Admin").Count() == 0 ? "hidden" : "")">
    <a href="#" class="has-chevron" data-toggle="collapse" data-target="#apps" aria-expanded="false" aria-controls="apps">
        <span><i class="material-icons fs-16">phone_iphone</i>Uygulama Yöneticisi</span>
    </a>
    <ul id="apps" class="collapse" aria-labelledby="apps" data-parent="#side-nav-accordion">
        @foreach (var item in Model.Item1.Where(w => w.ana_menu_adi == "Admin"))
        {
            <li> <a href="@Url.Action(item.alt_menu_adi,"Admin")"> @item.alt_menu_basligi</a> </li>
        }
    </ul>
</li>
<!-- /Yönetim Modülü -->
