﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Sayfa Bulunamadı | TMO</title>
    <meta name="author" content="webdebiz.com" />
    <meta name="description" content="404 - Sayfa Bulunamadı" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="~/Content/404/assets/boostrap-files/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Template CSS -->
    <link type="text/css" media="all" href="~/Content/404/assets/css/style.css" rel="stylesheet" />
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="~/Content/404/assets/css/respons.css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/Content/404/assets/img/favicons/favicon144x144.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Content/404/assets/img/favicons/favicon114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Content/404/assets/img/favicons/favicon72x72.png" />
    <link rel="apple-touch-icon" href="~/Content/404/assets/img/favicons/favicon57x57.png" />
    <link rel="shortcut icon" href="~/Content/404/assets/img/favicons/favicon.png" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>
<body>

    <!-- Load page -->
    <div class="animationload">
        <div class="loader">
        </div>
    </div>
    <!-- End load page -->
    <!-- Content Wrapper -->
    <div id="wrapper">
        <div class="container">

            <!-- Info -->
            <div class="info">
                <h1>Oops!</h1>
                <h2>@TempData["Hata"]</h2>
                <p>@TempData["aciklama"]</p>
                @{
                    try
                    {
                        if (Session["kullanici_id"] == null)
                        {
                            <a href="@Url.Action("Login","Login")" class="btn">Giriş Yap</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Index","Home")" class="btn">Geri Dön</a>
                        }
                    }
                    catch (Exception)
                    {
                            <a href="@Url.Action("Index","Home")" class="btn">Geri Dön</a>
                    }
                }
            </div>
            <!-- end Info -->
            <!-- Bear -->
            <div class="bear">
                <div class="zzz"></div>
            </div>
            <!-- end Bear -->

        </div>
        <!-- end container -->
    </div>
    <!-- end Content Wrapper -->
    <!-- Scripts -->
    <script src="~/Content/404/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="~/Content/404/assets/boostrap-files/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/404/assets/js/modernizr.custom.js" type="text/javascript"></script>
    <script src="~/Content/404/assets/js/scripts.js" type="text/javascript"></script>

</body>
</html>
