﻿@model Tuple<List<tmo.Models.mudiler>, List<tmo.Models.iller>, List<tmo.Models.ilceler>, List<tmo.Models.mudi_araci_kurumlar>>
@{
    ViewBag.Title = "MudiKayit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-md-12">
    @{
        if (TempData["approval"] != null)
        {
            <div class="alert alert-success alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-tick-inside-circle"></i><strong>Başarılı!</strong> @TempData["approval"]
            </div>
        }
        else if (TempData["rejection"] != null)
        {
            <div class="alert alert-danger alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-alert-1"></i><strong>Hata!</strong> @TempData["rejection"]
            </div>
        }
    }
</div>
<div class="col-xl-12 col-md-12">
    <div class="ms-panel ms-panel-fh">
        <div class="ms-panel-header">
            <h6>MUDİ KAYIT</h6>
        </div>
        <div class="ms-panel-body clearfix">
            <ul class="nav nav-tabs d-flex tabs-round has-gap nav-justified mb-4" role="tablist">
                <li role="presentation">
                    <a href="#bireysel" aria-controls="tab4" class="active show" role="tab" data-toggle="tab" aria-selected="true">Bireysel</a>
                </li>
                <li role="presentation">
                    <a href="#kurumsal" aria-controls="tab5" role="tab" data-toggle="tab" class="" aria-selected="false">Kurumsal </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="bireysel">
                    @using (Html.BeginForm("MudiKayit", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                    {
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom18">Ad Soyad</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom18" name="ad_soyad_ünvan" placeholder="Örn: Onur ÇOLAK " required="">
                                    <div class="invalid-feedback">
                                        Lütfen Ad Soyad giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom20">TCKN</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="validationCustom20" name="vn_tc" placeholder="12345678911" required="">
                                    <div class="invalid-feedback">
                                        Lütfen TCKN giriniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22">İl</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom22" name="il_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item2)
                                        {
                                            <option value="@item.provinceId">@item.provinceName</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İl Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom23">İlçe</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom23" name="ilce_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item3)
                                        {
                                            <option value="@item.countyId">@item.countyName</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İlçe Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom26">Açık Adres</label>
                                <div class="input-group">
                                    <textarea type="text" class="form-control" id="validationCustom26" name="acik_adres" placeholder="Açık Adres" rows="3" required=""></textarea>
                                    <div class="invalid-feedback">
                                        Lütfen Açık Adres Giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom27">Aracı Kurum</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom27" name="araci_kurum_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item4)
                                        {
                                            <option value="@item.araci_kurum_id">@item.araci_kurum_adi</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen Aracı Kurum Seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input hidden type="text" name="kayit_tipi" value="Bireysel">
                        <button class="btn btn-primary d-block float-right" type="submit">Kaydet</button>
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="kurumsal">
                    @using (Html.BeginForm("MudiKayit", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                    {
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom18">Ünvan</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom18" name="ad_soyad_ünvan" placeholder="Örn: Webdebiz Teknoloji" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Ünvan giriniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom20">Vergi Numarası</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="validationCustom20" name="vn_tc" placeholder="12345678911" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Vergi Numarası giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom21">Vergi Dairesi</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom21" name="vd" placeholder="Örn: Polatlı" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Vergi Dairesi giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22">İl</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom22" name="il_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item2)
                                        {
                                            <option value="@item.provinceId">@item.provinceName</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İl Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom23">İlçe</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom23" name="ilce_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item3)
                                        {
                                            <option value="@item.countyId">@item.countyName</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İlçe Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom26">Açık Adres</label>
                                <div class="input-group">
                                    <textarea type="text" class="form-control" id="validationCustom26" name="acik_adres" placeholder="Açık Adres" rows="3" required=""></textarea>
                                    <div class="invalid-feedback">
                                        Lütfen Açık Adres Giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom27">Aracı Kurum</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom27" name="araci_kurum_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                        @foreach (var item in Model.Item4)
                                        {
                                            <option value="@item.araci_kurum_id">@item.araci_kurum_adi</option>
                                        }
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen Aracı Kurum Seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input hidden type="text" name="kayit_tipi" value="Kurumsal">
                        <button class="btn btn-primary d-block float-right" type="submit">Kaydet</button>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<div class="col-xl-12 col-md-12">
    <div class="ms-panel">
        <div class="ms-panel-header">
            <h6>MUDİ LİSTESİ</h6>
        </div>
        <div class="ms-panel-body">
            <div class="table-responsive">
                <div id="data-table-1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row" style="width:100%">
                        <div class="col-sm-12">
                            <table id="example" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Ad Soyad & Ünvan</th>
                                        <th>V.N & TCKN</th>
                                        <th>V.D</th>
                                        <th>İl - İlçe</th>
                                        <th>Açık Adres</th>
                                        <th>Aracı Kurum</th>
                                        <th>Kayıt Tipi</th>
                                        <th>Kayıt Tarihi</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Item1)
                                    {
                                        <tr>
                                            <td>@item.ad_soyad_ünvan</td>
                                            <td>@item.vn_tc</td>
                                            <td>@item.vd</td>
                                            <td>@item.iller.provinceName @item.ilceler.countyName</td>
                                            <td>@item.acik_adres</td>
                                            <td>@item.mudi_araci_kurumlar.araci_kurum_adi</td>
                                            <td>@item.kayit_tipi</td>
                                            <td>@item.kayit_tarihi</td>
                                            <td>
                                                <a href="#" class="badge badge-outline-warning" data-toggle="modal" data-target="#duzenle@(item.mudi_id)" style="color:#FDA600;font-size:14px"><i class="flaticon-pencil"></i> Düzenle</a>
                                            </td>
                                        </tr>
                                        <!-- Mudi Modal -->
                                        <div class="modal fade" id="duzenle@(item.mudi_id)" tabindex="-1" role="dialog" aria-labelledby="duzenle@(item.mudi_id)">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">

                                                    <div class="modal-header bg-secondary">
                                                        <h5 class="modal-title has-icon text-white" id="NoteModal">@item.ad_soyad_ünvan - Düzenle</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    </div>

                                                    @using (Html.BeginForm("MudiGuncelle", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                                                    {
                                                        <div class="modal-body">
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom18">Ad Soyad / Ünvan</label>
                                                                <input type="text" class="form-control" id="validationCustom18" name="ad_soyad_ünvan" value="@item.ad_soyad_ünvan" required="">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz3.
                                                                </div>
                                                            </div>

                                                            <div class="ms-form-group">
                                                                <label for="validationCustom28">TCKN / Vergi Num.</label>
                                                                <input type="number" class="form-control" id="validationCustom20" name="vn_tc" value="@item.vn_tc" required="">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>

                                                            <div class="ms-form-group">
                                                                <label for="validationCustom29">Vergi Dairesi</label>
                                                                <input type="text" class="form-control" id="validationCustom21" name="vd" value="@item.vd">
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>

                                                            <div class="ms-form-group">
                                                                <label for="validationCustom30">İl</label>
                                                                <select class="form-control" id="validationCustom30" name="il_id" required="">
                                                                    <option value="@item.iller.provinceId">@item.iller.provinceName</option>
                                                                    @foreach (var il in Model.Item2)
                                                                    {
                                                                        <option value="@il.provinceId">@il.provinceName</option>
                                                                    }
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom31">İlçe</label>
                                                                <select class="form-control" id="validationCustom31" name="ilce_id" required="">
                                                                    <option value="@item.ilceler.countyId">@item.ilceler.countyName</option>
                                                                    @foreach (var ilce in Model.Item3)
                                                                    {
                                                                        <option value="@ilce.countyId">@ilce.countyName</option>
                                                                    }
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom32">Açık Adres</label>
                                                                <textarea type="text" class="form-control" id="validationCustom32" name="acik_adres" required="">@item.acik_adres</textarea>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom45">İlçe</label>
                                                                <select class="form-control" id="validationCustom54" name="araci_kurum_id" required="">
                                                                    <option value="@item.araci_kurum_id">@item.mudi_araci_kurumlar.araci_kurum_adi</option>
                                                                    @foreach (var araci_kurum in Model.Item4)
                                                                    {
                                                                        <option value="@araci_kurum.araci_kurum_id">@araci_kurum.araci_kurum_adi</option>
                                                                    }
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfen Aracı Kurum Seçiniz.
                                                                </div>
                                                            </div>
                                                            <div class="ms-form-group">
                                                                <label for="validationCustom33">Kayıt Tipi</label>
                                                                <select class="form-control" id="validationCustom33" name="kayit_tipi" required="">
                                                                    <option value="@item.kayit_tipi">@item.kayit_tipi</option>
                                                                    <option value="Bireysel">Bireysel</option>
                                                                    <option value="Kurumsal">Kurumsal</option>
                                                                </select>
                                                                <div class="invalid-feedback">
                                                                    Lütfean Açık Adres Giriniz.
                                                                </div>
                                                            </div>
                                                            <input hidden name="mudi_id" value="@item.mudi_id" />
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light" data-dismiss="modal">İptal</button>
                                                            <button type="submit" class="btn btn-secondary shadow-none">Güncelle</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




