﻿@model Tuple<List<tmo.Models.tartim_bilgileri>>
@{
    ViewBag.Title = "TartimYap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-xl-12 col-md-12">
    @{
        if (TempData["approval"] != null)
        {
            <div class="alert alert-success alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-tick-inside-circle"></i><strong>Başarılı!</strong> @TempData["approval"]
            </div>
        }
        else if (TempData["rejection"] != null)
        {
            <div class="alert alert-danger alert-solid" role="alert" style="padding-bottom:10px">
                <i class="flaticon-alert-1"></i><strong>Hata!</strong> @TempData["rejection"]
            </div>
        }
    }
</div>
<div class="col-xl-12 col-md-12">
    <div class="ms-panel ms-panel-fh">
        <div class="ms-panel-header">
            <h6>TARTIM YAP</h6>
        </div>
        <div class="ms-panel-body clearfix">
            <ul class="nav nav-tabs d-flex tabs-round has-gap nav-justified mb-4" role="tablist">
                <li role="presentation">
                    <a href="#genelbilgiler" aria-controls="tab4" class="active show" role="tab" data-toggle="tab" aria-selected="true">Genel Bilgiler</a>
                </li>
                <li role="presentation">
                    <a href="#kurumsal" aria-controls="tab5" role="tab" data-toggle="tab" class="" aria-selected="false">Kurumsal </a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active show" id="genelbilgiler">
                    @using (Html.BeginForm("TartimYap", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                    {
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22">Araç Cinsi</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom22" name="arac_cinsi" required="">
                                        <option value="">Seçim Yapınız</option>
                                        <optgroup label="N (En az 4 tekerlekli, motorlu yük taşıma amaçlı araçlar)">
                                            <option value="N1">N1: Azami ağırlığı 3,5 ton altı. (Ör: Pikaplar, Panelvanlar)</option>
                                            <option value="N2">N2: Azami ağırlığı 3,5 ton – 12 ton arası. (Kamyonetler)</option>
                                            <option value="N3">N3: Azami ağırlığı 12 ton üstü. (Kamyonlar)</option>
                                        </optgroup>
                                        <optgroup label="R (Traktör römorkları)">
                                            <option value="R1">R1: Her bir dingil için 1,500kg yükün altı</option>
                                            <option value="R2">R2: Her bir dingil için 1,500kg – 3,500kg arası</option>
                                            <option value="R3">R3: Her bir dingil için 3,500kg – 21,000kg arası</option>
                                            <option value="R4">R4: Her bir dingil için 21,000kg üstü</option>
                                        </optgroup>
                                        <optgroup label="S (Çekilen makinalar – Tarım makinaları)">
                                            <option value="S1">S1: Her bir dingil için 3,500kg ağırlığı aşmayan</option>
                                            <option value="S2">S2: Her bir dingil için 3,500kg ağırlığı aşan</option>
                                        </optgroup>
                                        <optgroup label="M1 araç sınıfı için cinsleri – gövde tipleri">
                                            <option value="AA">AA: Sedan</option>
                                            <option value="AB">AB: Heçbek (Hatchback)</option>
                                            <option value="AC">AC: Steyşın (Station Wagon)</option>
                                            <option value="AD">AD: Kupe (Coupe)</option>
                                            <option value="AE">AE: Üstü açılır kapanır (Cabriolet)</option>
                                            <option value="AF">AF: Çok amaçlı araç (SUV)</option>
                                            <option value="AG">AG: Ticari Steyşın (Ör: Fiat Doblo Combi)</option>
                                        </optgroup>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen Araç Cinsi Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom20">TCKN</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="validationCustom20" name="vn_tc" placeholder="12345678911" required="">
                                    <div class="invalid-feedback">
                                        Lütfen TCKN giriniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22">İl</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom22" name="il_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İl Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom23">İlçe</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom23" name="ilce_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İlçe Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom26">Açık Adres</label>
                                <div class="input-group">
                                    <textarea type="text" class="form-control" id="validationCustom26" name="acik_adres" placeholder="Açık Adres" rows="3" required=""></textarea>
                                    <div class="invalid-feedback">
                                        Lütfen Açık Adres Giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom27">Aracı Kurum</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom27" name="araci_kurum_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen Aracı Kurum Seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input hidden type="text" name="kayit_tipi" value="Bireysel">
                        <button class="btn btn-primary d-block float-right" type="submit">Kaydet</button>
                    }
                </div>
                <div role="tabpanel" class="tab-pane fade" id="kurumsal">
                    @using (Html.BeginForm("MudiKayit", "Kantar", FormMethod.Post, new { enctype = "multipart/form-data", @class = "needs-validation clearfix", @novalidate = "" }))
                    {
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom18">Ünvan</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom18" name="ad_soyad_ünvan" placeholder="Örn: Webdebiz Teknoloji" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Ünvan giriniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom20">Vergi Numarası</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="validationCustom20" name="vn_tc" placeholder="12345678911" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Vergi Numarası giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom21">Vergi Dairesi</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationCustom21" name="vd" placeholder="Örn: Polatlı" required="">
                                    <div class="invalid-feedback">
                                        Lütfen Vergi Dairesi giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom22">İl</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom22" name="il_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İl Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom23">İlçe</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom23" name="ilce_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen İlçe Seçiniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="validationCustom26">Açık Adres</label>
                                <div class="input-group">
                                    <textarea type="text" class="form-control" id="validationCustom26" name="acik_adres" placeholder="Açık Adres" rows="3" required=""></textarea>
                                    <div class="invalid-feedback">
                                        Lütfen Açık Adres Giriniz.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom27">Aracı Kurum</label>
                                <div class="input-group">
                                    <select class="form-control" id="validationCustom27" name="araci_kurum_id" required="">
                                        <option value="">Seçim Yapınız</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Lütfen Aracı Kurum Seçiniz.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input hidden type="text" name="kayit_tipi" value="Kurumsal">
                        <button class="btn btn-primary d-block float-right" type="submit">Kaydet</button>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

