﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="ms-content-wrapper">
    <img class="ms-user-img ms-img-round ms-lock-screen-user" src="~/Content/assets/img/people/people-5.jpg" alt="people">
    <h1>John Doe</h1>
    <p style="font-size:14px; color:red; padding-bottom:10px">@TempData["message"]</p>
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="ms-form-group my-0 mb-0 has-icon fs-14" style="padding-bottom:10px">
            <input type="text" class="ms-form-input" name="kullanici_adi" placeholder="Kullanıcı Adınız" value="">
            <i class="material-icons">security</i>
        </div>
        <div class="ms-form-group my-0 mb-0 has-icon fs-14">

            <input type="password" class="ms-form-input" name="parola" placeholder="Parola" value="">
            <i class="material-icons">security</i>
        </div>
        <button type="submit" class="btn btn-success w-100">Giriş</button>
    }

</div>

