﻿<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title | TMO</title>
    <!-- Iconic Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/vendors/iconic-fonts/flat-icons/flaticon.css">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="~/Content/assets/css/jquery-ui.min.css" rel="stylesheet">
    <!-- Mystic styles -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/favicon.ico">
</head>
<body class="ms-body ms-primary-theme">

    <!-- Preloader -->
    <div id="preloader-wrap">
        <div class="spinner spinner-8">
            <div class="ms-circle1 ms-child"></div>
            <div class="ms-circle2 ms-child"></div>
            <div class="ms-circle3 ms-child"></div>
            <div class="ms-circle4 ms-child"></div>
            <div class="ms-circle5 ms-child"></div>
            <div class="ms-circle6 ms-child"></div>
            <div class="ms-circle7 ms-child"></div>
            <div class="ms-circle8 ms-child"></div>
            <div class="ms-circle9 ms-child"></div>
            <div class="ms-circle10 ms-child"></div>
            <div class="ms-circle11 ms-child"></div>
            <div class="ms-circle12 ms-child"></div>
        </div>
    </div>

    <div class="ms-lock-screen-weather">
        <p>38&deg;</p>
        <p>San Francisco, CA</p>
    </div>

    <ul class="ms-lock-screen-nav">
        <li class="ms-nav-item dropdown">
            <a href="#" class="text-disabled ms-has-notification" id="mailDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">email</i></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="mailDropdown">
                <li class="dropdown-menu-header">
                    <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Mail</span></h6><span class="badge badge-pill badge-success">3 New</span>
                </li>
                <li class="dropdown-divider"></li>
                <li class="ms-scrollable ms-dropdown-list">
                    <a class="media p-2" href="#">
                        <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                            <img src="~/Content/assets/img/people/people-5.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                            <span>Hey man, looking forward to your new project.</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                        </div>
                    </a>
                    <a class="media p-2" href="#">
                        <div class="ms-chat-status ms-status-online ms-chat-img mr-2 align-self-center">
                            <img src="~/Content/assets/img/people/people-2.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                            <span>Dear John, I was told you bought Mystic! Send me your feedback</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 28 minutes ago</p>
                        </div>
                    </a>
                    <a class="media p-2" href="#">
                        <div class="ms-chat-status ms-status-offline ms-chat-img mr-2 align-self-center">
                            <img src="~/Content/assets/img/people/people-3.jpg" class="ms-img-round" alt="people">
                        </div>
                        <div class="media-body">
                            <span>How many people are we inviting to the dashboard?</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 6 hours ago</p>
                        </div>
                    </a>
                <li class="dropdown-divider"></li>
                <li class="dropdown-menu-footer text-center">
                    <a href="pages/apps/email.html">Go to Inbox</a>
                </li>
            </ul>
        </li>
        <li class="ms-nav-item dropdown">
            <a href="#" class="text-disabled ms-has-notification" id="notificationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons">notifications</i></a>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
                <li class="dropdown-menu-header">
                    <h6 class="dropdown-header ms-inline m-0"><span class="text-disabled">Notifications</span></h6><span class="badge badge-pill badge-info">4 New</span>
                </li>
                <li class="dropdown-divider"></li>
                <li class="ms-scrollable ms-dropdown-list">
                    <a class="media p-2" href="#">
                        <div class="media-body">
                            <span>12 ways to improve your crypto dashboard</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 30 seconds ago</p>
                        </div>
                    </a>
                    <a class="media p-2" href="#">
                        <div class="media-body">
                            <span>You have newly registered users</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 45 minutes ago</p>
                        </div>
                    </a>
                    <a class="media p-2" href="#">
                        <div class="media-body">
                            <span>Your account was logged in from an unauthorized IP</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 2 hours ago</p>
                        </div>
                    </a>
                    <a class="media p-2" href="#">
                        <div class="media-body">
                            <span>An application form has been submitted</span>
                            <p class="fs-10 my-1 text-disabled"><i class="material-icons">access_time</i> 1 day ago</p>
                        </div>
                    </a>
                <li class="dropdown-divider"></li>
                <li class="dropdown-menu-footer text-center">
                    <a href="#">View all Notifications</a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- Main Content -->
    <main class="body-content ms-lock-screen">

        <!-- Body Content Wrapper -->
        @RenderBody()

    </main>

    <div class="ms-lock-screen-time">
        <p id="time"></p>
        <p id="date"></p>
    </div>

    <script type="text/javascript">
        window.onload = setInterval(clock, 1000);

        function clock() {
            var d = new Date();
            var date = d.getDate();
            var month = d.getMonth();
            var montharr = ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran", "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"];
            month = montharr[month];
            var year = d.getFullYear();
            var date = d.getDate();
            var day = d.getDay();
            var dayarr = ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"];
            day = dayarr[day];
            var hour = d.getHours() < 10 ? '0' + d.getHours() : d.getHours();
            var min = d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes();
            var sec = d.getSeconds();
            document.getElementById("date").innerHTML = day + " " + date + " " + month + " " + year;
            document.getElementById("time").innerHTML = hour + ":" + min;
        }
    </script>

    <!-- SCRIPTS -->
    <!-- Global Required Scripts Start -->
    <script src="~/Content/assets/js/jquery-3.5.1.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/js/perfect-scrollbar.js"></script>
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <!-- Global Required Scripts End -->
    <!-- Mystic core JavaScript -->
    <script src="~/Content/assets/js/framework.js"></script>

    <!-- Settings -->
    <script src="~/Content/assets/js/settings.js"></script>

</body>
</html>
